body{
  font-family: Arial;
  color: SlateGray;
  }

#container {
  width: 60%;
  margin: auto;
}

h1{
  font-size:300%
}

h1,h2{
  color:orange;
  text-transform:uppercase;
  font-weight: 100;
}

img{
  width:100%;
}

footer{
  margin-top: 50px;
  background-color: slategray;
  color:white;
}

footer p{
  text-align: right;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width:768px){
  #container{
    width=90%
  }

  h1{
    font-size:200%;
  }
}